.main-info {
    display: flex;
    align-items: center;
    height: 800px;
    justify-content: center;
}

.main-info h2 {
    font-size: 45px;
}

.main-info h1 {
    font-size: 25px;
}

.left-block {
    width: 500px;
}
.left-block img {
    width: 250px;
    padding: 20px;
    cursor: pointer;
    margin-left: 110px;
}

@media screen and (max-width: 720px){
    .left-block {
        width: 200px;
    }
    .left-block h2 {
        font-size: 20px;
    }
    .left-block h1 {
        font-size: 14px;
    }

    .left-block img {
        width: 200px;
        margin-left: 3px;
    }

    .lbimg {
        width: 200px;
    }
}