.main-info {
    display: flex;
    align-items: center;
    height: 800px;
    justify-content: center;
}

.main-info h2 {
    font-size: 45px;
}

.main-info h1 {
    font-size: 25px;
}

.left-block {
    max-width: 500px;
}
.left-block img {
    width: 250px;
    padding: 20px;
    cursor: pointer;
}
.imgag {
    height: 107px;
    width: 245px;
}

@media screen and (max-width: 720px){
    .main-info {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .left-block {
        width: 300px;
        text-align: center;
    }
    .left-block h2 {
        font-size: 40px;
    }
    .left-block h1 {
        font-size: 24px;
    }

    .left-block img {
        width: 200px;
        margin-left: 3px;
    }
    .imgag {
        height: 90px;
    }

    .lbimg {
        width: 300px;
    }
}