header {
    margin: 0 auto;
    padding-right: 20px;
    background: white;
    justify-content: center;
    display: flex;
}
.sidebar {
    display: flex;
}
.left-side {
    display: flex;
    align-items: center;

}
.sidebar a {
    text-decoration: none;
    color: #00a2e8;
    padding: 10px;
    font-size: 25px;
}
.logotext {
    font-weight: lighter;
}

.left-side img {
    max-width: 50px;
    width: 50px;
    min-width: 50px;
    height: auto;
    display: block;
    border-radius: 15px;
    margin-right: 10px;
}
.center-side {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 18px;
}
.center-side ul {
    list-style: none;
    display: flex;
}
.center-side li {
    margin-left: 30px;
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
}
.center-side li:hover {
    color: #61dafb;
}

.right-side {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.right-side button {
    border-radius: 20px;
    background: #61dafb;
    color: white;
    padding: 10px;
    margin-right: 20px;
    font-size: 15px;
    border-color: #61dafb;
    font-weight: bolder;
}


.btnLi {
    text-decoration: none;
    color: #00a2e8;
}

@media screen and (max-width: 720px){
    header {
        height: 80px;
        width: 100%;
    }
    .center-side {
        display: none;
    }
    .left-side img {
        width: 40px;
        min-width: 40px;
    }
    .left-side a {
        font-size: 15px;
    }
    .right-side {
        margin-left: 10px;
    }
    .sidebar a {
        text-align: center;
        font-size: 20px;
    }

}
